<div class="title-area">
  <div mat-dialog-title>
    {{ data.title | translate | uppercase}}
  </div>
  <div class="close-button">
    <button mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline" class="mat-form-field col-4">
        <mat-label>{{"edit-trip-dialog.place" | translate}}</mat-label>
        <input type="text" matInput formControlName="title"/>
        <mat-error  *ngIf="!form.get('title').valid">{{form.get('title').errors | translateError}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mat-form-field col-3">
        <mat-label>{{"edit-trip-dialog.lat" | translate}}</mat-label>
        <input type="text" matInput formControlName="lat" (change)="getPlace()"/>
        <mat-error  *ngIf="!form.get('lat').valid">{{form.get('lat').errors | translateError}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mat-form-field col-3">
        <mat-label>{{"edit-trip-dialog.lon" | translate}}</mat-label>
        <input type="text" matInput formControlName="long"  (change)="getPlace()"/>
        <mat-error  *ngIf="!form.get('long').valid">{{form.get('long').errors | translateError}}</mat-error>
      </mat-form-field>
      <div class="col-2">
        <button mat-raised-button class="main map-button" (click)="showMap = !showMap;">
          <div *ngIf="!showMap">{{'show-map' | translate}}</div>
          <div *ngIf="showMap">{{'hide-map' | translate}}</div>
        </button>
      </div>
    </div>
    <div class="row" style="padding-bottom: 25px;" *ngIf="showMap">
        <div class="col-12">
          <div style="height: 500px; width: 100%" leaflet
               [leafletOptions]="options" (leafletClick)="onMapClick($event)">
            <div [leafletLayer]="layer"></div>
          </div>
        </div>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="mat-form-field col-12">
        <mat-label>{{"edit-trip-dialog.description" | translate}}</mat-label>
        <textarea type="text" matInput formControlName="content"></textarea>
        <mat-error  *ngIf="!form.get('content').valid">{{form.get('content').errors | translateError}}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="mat-form-field col-12">
        <mat-label>{{"edit-trip-dialog.image" | translate}}</mat-label>
        <input type="text" matInput formControlName="image_url"/>
        <mat-error  *ngIf="!form.get('image_url').valid">{{form.get('image_url').errors | translateError}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="row" style="text-align: center">
    <div class="col-12">
      <mat-label style="">{{"edit-trip-dialog.image-preview" | translate}}:</mat-label>
    </div>
    <div class="col-12">
      <img *ngIf="!form.get('image_url').value" src="https://www.ciberisciii.es/images/nofoto.png" height="200"/>
      <img *ngIf="form.get('image_url').value" src="{{form.get('image_url').value}}" height="200" style="max-width: 100%"/>
    </div>
  </div>
</div>
<div mat-dialog-actions style="vertical-align: bottom">
  <div class="button-container-field-inline dialog-actions">
    <button mat-raised-button class="secondary" (click)="onNoClick()">
      {{'general.cancel' | translate}}
    </button>
    <button mat-raised-button class="main" [mat-dialog-close]="form.value" [disabled]="!form.valid">
      {{'general.accept' | translate}}
    </button>
  </div>
</div>
