<div *ngIf="places">
  <mat-form-field appearance="standard">
    <mat-label>{{'table.search' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{'table.search-tootltip' | translate}}" #input>
  </mat-form-field>

  <div class="mat-elevation-z8 table">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.city' | translate | uppercase}} </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/detail', row.id]"> {{row.title}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.creation-date' | translate | uppercase}} </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/detail', row.id]"> {{row.created_at  | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.last-update-date' | translate | uppercase}} </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/detail', row.id]"> {{row.updated_at  | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="tool">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
                <mat-icon (click)="editField(row)" class="pointer" aria-hidden="false" >edit</mat-icon>
                <mat-icon (click)="deleteField(row)" class="pointer" aria-hidden="false" >delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{'table.no-data' | translate}} "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"  ></mat-paginator>
  </div>
</div>
