<!--<div class="row">-->
<!--  <div class="offset-2 col-8">-->
<!--    <mat-form-field class="example-full-width" appearance="fill">-->
<!--      <mat-label>{{'table.search' | translate}}</mat-label>-->
<!--      <input matInput placeholder="{{'table.search-tootltip' | translate}}">-->
<!--    </mat-form-field>  </div>-->
<!--</div>-->
<table class="table">
  <tr class="header-row">
    <th *ngFor="let header of headers" class="header pointer" (click)="sortArray(header.field)">
      {{header.title | translate | uppercase}}
      <mat-icon *ngIf="header.field === field && !asc" class="pointer" aria-hidden="false" >keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="header.field === field && asc" class="pointer" aria-hidden="false" >keyboard_arrow_down</mat-icon>
    </th>
    <th class="header"></th>
  </tr>
  <tr class="table-row" *ngFor="let place of places">
    <td class="cell" [routerLink]="['/detail', place.id]">{{place.title}}</td>
    <td class="cell" [routerLink]="['/detail', place.id]">{{place.created_at | date: 'dd/MM/yyyy'}}</td>
    <td class="cell" [routerLink]="['/detail', place.id]">{{place.updated_at | date: 'dd/MM/yyyy'}}</td>
    <td class="cell no-pointer">
      <mat-icon (click)="editField(place)" class="pointer" aria-hidden="false" >edit</mat-icon>
      <mat-icon (click)="deleteField(place)" class="pointer" aria-hidden="false" >delete</mat-icon>
    </td>
  </tr>
</table>
